<!DOCTYPE html>
<html lang="en xmlns:th=http://www.thymeleaf.org">
<th:block th:replace="~{admin/layout:: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">

                <form th:action="@{/admin/products}"  method="post" enctype="multipart/form-data" th:object="${productOptionDTO}" onsubmit="return check()">
                    <div class="col-md-6">
                        썸네일 <br>
                        <input type="file" name="file" id="file" accept="image/*" onchange="previewFile()" required><br>
                            <img id = "thumbnail" src="" height="200" >
                        <br>
                        상품 사진 목록 <br>
                        <input type="file" name="fileList" id="fileList" accept="image/*" onchange="setImageList(event)" multiple><br>
                            <div id="multiple-container" class="col mb-5">
                        </div>
                        </div>

                        제품 이름
                        <input type="text" class="form-control"  th:field="*{productName}" /><br>
                        <p th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="jb-red"></p>

                        제품 가격
                        <input id="price1" type="number" class="form-control"  th:field="*{price}" /><br>
                        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="jb-red"></p>

                        제품 간략 설명
                        <input type="text" class="form-control"  th:field="*{briefDescription}" /><br>
                        <p th:if="${#fields.hasErrors('briefDescription')}" th:errors="*{briefDescription}" class="jb-red"></p>

                        제품 상세 설명
                        <textarea type="text" class="form-control"  th:field="*{detailDescription}"></textarea><br>
                        <p th:if="${#fields.hasErrors('detailDescription')}" th:errors="*{detailDescription}" class="jb-red"></p>

                        <div>
                            카테고리 선택 <br>
                            <select name="categoryId" class="form-select">
                                <div th:each="category : ${categoryListDTO}">
                                    <option th:text="${category.fullName}" th:value="${category.categoryId}" name="categoryId"></option>
                                </div>
                            </select>
                        </div>
                        <br>

                        <div id="box1" class="1">
                            <input type="hidden" value="1">
                            <input type="text" class="form-control" th:field="*{option1}" placeholder="Enter Option 1">
                            <input id="option1" type="button" value="추가" onclick="add_textbox(1)">
                        </div>
                        <div id="box2" class="2">
                            <input type="hidden" value="2">
                            <input type="text" class="form-control" th:field="*{option2}" placeholder="Enter Option 2">
                            <input id="option2" type="button" value="추가" onclick="add_textbox(2)">
                        </div>
                        <div id="box3" class="3">
                            <input type="hidden" value="3">
                            <input type="text" class="form-control" th:field="*{option3}" placeholder="Enter Option 3">
                            <input id="option3" type="button" value="추가" onclick="add_textbox(3)">
                        </div>
                        <button class="btn btn-outline-dark mt-auto" type="submit" onchange="fileCheck()">상품 등록</button>
                    </form>
                    <script th:inline="javascript">
                        var countArr = [0,0,0]

                        const add_textbox = (num) => {
                            if (countArr[num-1] < 4)
                                countArr[num-1]++
                            else{
                                alert("옵션의 개수는 종류당 4개가 최대입니다.")
                                return;
                            }
                            const box = document.getElementById("box"+num);
                            const newP = document.createElement('p');
                            newP.innerHTML = "옵션명 <input type='text' class='form-control-sm' placeholder='option'> " +
                                "<input type='button' value='삭제' class='btn btn-secondary' onclick='remove(this)'>";
                            newP.firstElementChild.name = "option" + num + "List";
                            box.appendChild(newP);
                        }
                        const remove = (obj) => {
                            num = obj.parentNode.parentNode.firstElementChild.value
                            countArr[num-1]--
                            document.getElementById('box'+num).removeChild(obj.parentNode);
                        }

                        let listArr = ["option1List","option2List","option3List"]
                        let optionArr = ["option1", "option2", "option3"]
                        let priceArr = ["price1", "price2"]

                        function check() {
                            for(let i = 0; i < 2; i++){
                                if (document.getElementById(priceArr[i]).value == ""){
                                    alert("금액을 입력해주세요")
                                    return false
                                }
                                if (document.getElementById(priceArr[i]).value < 0){
                                    alert("금액은 음수가 될 수 없습니다.")
                                    return false
                                }
                                if (document.getElementById(priceArr[i]).value > 2147483647){
                                    alert("금액이 매우 큽니다.")
                                    return false
                                }
                            }
                            for(let j = 0; j < 3; j++){
                                if (document.getElementById(optionArr[j]).value != "" && countArr[j] <= 0){
                                    alert("옵션 타입만 입력되었습니다. 옵션 상세를 입력해주세요")
                                    return false
                                }
                                for(let i = 0 ; i < countArr[j]; i++){
                                    if (document.getElementById(optionArr[j]).value == ""){
                                        alert("옵션 타입을 입력해주세요")
                                        return false
                                    }
                                    if (document.getElementById(optionArr[j]).value.length >= 20){
                                        alert("옵션 타입과 상세는 20글자 이상 금지")
                                        return false
                                    }

                                    let list = document.getElementsByName(listArr[j])
                                    if (list[i].value == ""){
                                        alert("빈 옵션은 삭제 바랍니다")
                                        return false
                                    }
                                    if (list[i].value.length >= 20){
                                        alert("옵션 타입과 상세는 20글자 이상 금지")
                                        return false
                                    }
                                }
                            }
                            return true
                        }

                        function previewFile() {
                            const preview = document.getElementById('thumbnail');
                            const file = document.querySelector('input[type=file]').files[0];
                            const reader = new FileReader();

                            reader.addEventListener("load", () => {
                                // convert image file to base64 string
                                preview.src = reader.result;
                            }, false);

                            if (file) {
                                reader.readAsDataURL(file);
                            }
                        }

                        function setImageList(event) {
                            if( document.getElementById("fileList").files.length > 5 ){
                                alert("최대 5개까지만 가능");
                                document.getElementById("fileList").value = ""
                            }
                            document.getElementById("multiple-container").innerHTML = ''
                            for (var image of event.target.files) {
                                var reader = new FileReader();

                                reader.onload = function(event) {
                                    var img = document.createElement("img");
                                    img.className = "w-50 p-3"
                                    img.setAttribute("src", event.target.result);
                                    document.getElementById("multiple-container").appendChild(img);
                                };

                                console.log(image);
                                reader.readAsDataURL(image);
                            }
                        }

                        function fileCheck(){
                            console.log(document.getElementById("fileList").innerHTML);
                        }

                    </script>
                </div>
            </div>
        </section>
    </th:block>
</th:block>
</html>

