<!DOCTYPE html>
<html lang="en xmlns:th=http://www.thymeleaf.org">
<th:block th:replace="~{admin/layout:: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                            기존 이미지 <br>
                        <div class="row">
                            <div class="col-3" th:if="${productImageDTOList != null}" th:each="productImage : ${productImageDTOList}">
                                <div class="card h-100">
                                    <img class="card-img-top" th:src="${productImage.imageUrl}">
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center">
                                            <form th:action="@{/admin/products/{productId}/{imageId}(productId = ${productId}, imageId = ${productImage.imageId})}" th:method="delete">
                                                <button class="btn btn-outline-dark mt-auto" type="submit">삭제</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <form th:action="'/admin/products/'+${productId}" enctype="multipart/form-data" th:method="put" th:object="${productDTO}" onsubmit="return check()" >
                            <div class="col-md-6">
                                상품 사진 목록 <br>
                                <input type="file" name="fileList" id="fileList" accept="image/*" onchange="setImageList(event)" multiple><br>
                                <div id="multiple-container" class="row">
                                </div>
                                <br>
                                썸네일 <br>
                                <input type="file" name="file" id="file" accept="image/*" onchange="previewFile()"><br>
                                기존 이미지 <br>
                                <img id = "originThumbnail" height="200" th:src="${thumbnail}" >
                                <br>
                                새로운 이미지 <br>
                                <img id = "thumbnail" src="" height="200" >

                                제품 이름
                                <input type="text" class="form-control"  th:field="*{productName}"><br>
                                <p th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="jb-red"></p>


                                제품 가격
                                <input type="number" class="form-control" th:field="*{price}" /><br>
                                <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="jb-red"></p>

                            제품 상태
                            <div th:if="${#strings.equals(productDTO.status,'ACTIVE')}"}>
                                <select class="form-control" name="status">
                                    <option value="ACTIVE" selected>ACTIVE</option>
                                    <option value="IN_ACTIVE">IN_ACTIVE</option>
                                </select>
                            </div>
                            <div th:if="${#strings.equals(productDTO.status,'IN_ACTIVE')}"}>
                                <select class="form-control" name="status">
                                    <option value="ACTIVE">ACTIVE</option>
                                    <option value="IN_ACTIVE" selected>IN_ACTIVE</option>
                                </select>
                            </div> <br>

                                제품 간략 설명
                                <input type="text" class="form-control"  th:field="*{briefDescription}" /><br>
                                <p th:if="${#fields.hasErrors('briefDescription')}" th:errors="*{briefDescription}" class="jb-red"></p>

                                제품 상세 설명
                                <textarea type="text" class="form-control"  th:field="*{detailDescription}"/><br>
                                <p th:if="${#fields.hasErrors('detailDescription')}" th:errors="*{detailDescription}" class="jb-red"></p>

                            <div>
                                카테고리 선택 <br>
                                <select name="categoryId" class="form-select">
                                    <option selected th:text="${category.parentCategory.name}+' > '+${category.name}" th:value="${category.categoryId}"></option>
                                    <option value="none">=== 기존 ===</option>
                                    <div th:each="category : ${categoryListDTO}">
                                        <option th:text="${category.fullName}" th:value="${category.categoryId}" name="categoryId"></option>
                                    </div>
                                </select>
                            </div>
                            <br>

                            <button class="btn btn-outline-dark mt-auto" type="submit" >상품 등록</button>
                        </form>
                        <form th:action="'/admin/products/'+${productId}" th:method="delete">
                            <input type="hidden" value="asd">
                            <button class="btn btn-outline-danger mt-auto" type="submit">상품 삭제</button>
                        </form>
                    </div>
                </div>
            </div>
            <script th:inline="javascript">

                function previewFile() {
                    const preview = document.getElementById('thumbnail');
                    // const file = document.querySelector('input[type=file]').files[0];
                    const file = document.getElementById('file').files[0]
                    const reader = new FileReader();

                    reader.addEventListener("load", () => {
                        // convert image file to base64 string
                        preview.src = reader.result;
                    }, false);

                    if (file) {
                        reader.readAsDataURL(file);
                    }
                }

                function setImageList(event) {
                    var num = 0
                    if ([[${productImageDTOList}]] != null)
                        num = [[${productImageDTOList}]].length
                    console.log(num)
                    if( document.getElementById("fileList").files.length > 5 - num ){
                        alert("최대 5개까지만 가능");
                        document.getElementById("fileList").value = ""
                    }
                    document.getElementById("multiple-container").innerHTML = ''
                    for (var image of event.target.files) {
                        var reader = new FileReader();

                        reader.onload = function(event) {
                            var img = document.createElement("img");
                            img.className = "w-100 p-3"
                            img.setAttribute("src", event.target.result);
                            document.getElementById("multiple-container").appendChild(img);
                        };

                        console.log(image);
                        reader.readAsDataURL(image);
                    }
                }

                function check(){
                    if (document.getElementById("price").value == ""){
                        alert("금액을 입력해주세요")
                        return false
                    }
                    if (document.getElementById("price").value < 0){
                        alert("금액은 음수가 될 수 없습니다.")
                        return false
                    }
                    if (document.getElementById("price").value > 2147483647){
                        alert("금액이 매우 큽니다.")
                        return false
                    }
                }

            </script>
        </section>

    </th:block>
</th:block>
</html>

