<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{admin/layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <h1 class="mt-4">OptionDetail List</h1>
                <div class="row gx-4 gx-lg-5 align-items-center">

                    <form th:object="${optionDetailList}" th:method="put" th:action="@{/admin/options/products}" onsubmit="return check()">
                        <div class="form-group" th:each="optionDetail : ${optionDetailList}">
                            <p>
                                <input type="hidden" th:value="${optionDetail.optionDetailId}" name="detailIdList">
                                옵션 <input type="text" class="form-control-sm" th:value="${optionDetail.name}" readonly>
                                재고 <input id="stock" type="number" class="form-control-sm" th:name="detailStockList" th:value="${optionDetail.stock}" onchange="check()">
                                추가금액 <input id="charge" type="number" class="form-control-sm" th:name="detailChargeList" th:value="${optionDetail.extraCharge}" onchange="check()">
                            </p>
                        </div>
                        <button class="btn btn-primary" type="submit">수정</button>
                    </form>

                    <script th:inline="javascript">
                        function check(){
                            for (let i = 0; i < document.getElementsByName("detailChargeList").length; i++){
                                if (document.getElementsByName("detailChargeList")[i].value == "") {
                                    alert("추가금액을 입력해주세요. (기본값 0)")
                                    return false
                                }
                                if (document.getElementsByName("detailStockList")[i].value == "") {
                                    alert("재고를 입력해주세요. (재고가 없는경우 0 입력)")
                                    return false
                                }
                                if (document.getElementsByName("detailChargeList")[i].value < 0){
                                    alert("추가금액은 음수가 될 수 없습니다.")
                                    return false
                                }
                                if (document.getElementsByName("detailStockList")[i].value < 0){
                                    alert("재고는 음수가 될 수 없습니다.")
                                    return false
                                }
                                if (document.getElementsByName("detailChargeList")[i].value > 2147483647){
                                    alert("추가금액이 매우 큽니다")
                                    return false
                                }
                                if (document.getElementsByName("detailStockList")[i].value > 2147483647){
                                    alert("재고량이 매우 큽니다")
                                    return false
                                }
                            }

                        }
                    </script>
                </div>
            </div>
        </section>
    </th:block>
</th:block>
</html>