<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/optionLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Product List</h1>
        <table class="table table-striped">
            <th>번호</th>
            <th>이름</th>
            <th>가격</th>
            <th></th>
            <tr th:each="product : ${productList}">
                <td th:text="${product.productId}"></td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.price}"></td>
                <td>
                    <form th:method="get" th:action="'/options/products/'+ ${product.productId}">
                        <button class="btn-sm btn-secondary" type="submit">재고 관리</button>
                    </form>
                    <form th:method="get" th:action="'/options/products/'+ ${product.productId}+'/edit'">
                        <button class="btn-sm btn-secondary" type="submit">옵션 수정</button>
                    </form>
                </td>
            </tr>
        </table>
    </th:block>
</th:block>
</html>