<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{user/layout:: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <h1 class="mt-4">리뷰 목록</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">사진</th>
                <th scope="col">내용</th>
                <th scope="col">별점</th>
                <th scope="col">등록 날짜</th>
                <th scope="col">수정/삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review : ${reviews.dtoList}">
                <td>[[${review.reviewId}]]</td>
                <td>
                    <img th:if="${review.reviewImage != null}" th:src="${review.reviewImage}" alt="review image" style="height:100px;width:100px;">
                </td>
                <td>[[${review.content}]]</td>
                <td>[[${review.star}]]</td>
                <td>[[${#temporals.format(review.createdAt,'yyyy/MM/dd')}]]</td>
                <td>
                    <!--                    href 로 링크 하면 delete 안먹음-->
                    <form th:method="get" th:action="@{/api/reviews/{reviewId}/updateForm(reviewId = ${review.reviewId})}" style="display: inline">
                        <button class="btn btn-outline-dark mt-auto" type="submit">수정</button>
                    </form>
                    <form th:method="delete" th:action="@{/api/reviews/{reviewId}(reviewId = ${review.reviewId})}" style="display: inline">
                        <button class="btn btn-outline-dark mt-auto" type="submit">삭제</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination justify-content-center align-items-center">
            <li class="page-item" th:if="${reviews.prev}">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li th:class="'page-item' + ${reviews.page == page? 'active':''}"th:each="page : ${reviews.pageList}">
                <a class="page-link" th:href="@{/delivers(page=${page})}">
                    [[${page}]]
                </a>
            </li>
            <li class="page-item" th:if="${reviews.next}">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </th:block>

</th:block>