<!DOCTYPE html>
<html lang="en xmlns:th=http://www.thymeleaf.org">
<th:block th:replace="~{/admin/layout:: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                    <div class="col-md-6">
                        <form th:action="@{/orders}"  method="post" th:object="${orderRequestDTO}">

                            <div>
                                선택한 제품 인덱스
                                <input type="text" class="form-control"  th:field="*{optionDetailId}" /><br>
<!--                                <p th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="jb-red"></p>-->
                            </div>

                            <div id="box2" class="2">
                                유저인덱스
                                <input type="hidden" value="2">
                                <input type="text" class="form-control" th:field="*{userId}" placeholder="Enter Option 2">
                                <input type="button" value="추가" onclick="add_textbox(2)">
                            </div>

                            <div>
                                연락처<br>
                                <input type="text" class="form-control" th:field="*{phone}"><br>
                            </div>

                            <div>
                                제품 가격
                                <input type="number" class="form-control"  th:field="*{price}" /><br>
                            </div>


<!--                            <div id="box1" class="1">-->
<!--                                쿠폰인덱스-->
<!--                                <input type="hidden" value="1">-->
<!--                                <input type="text" class="form-control" th:field="*{couponId}" placeholder="Enter Option 1">-->
<!--                                <input type="button" value="추가" onclick="add_textbox(1)">-->
<!--                            </div>-->

<!--                            <div id="box3" class="1">-->
<!--                                배송지 인덱스-->
<!--                                <input type="hidden" value="1">-->
<!--                                <input type="text" class="form-control" th:field="*{deliverId}" placeholder="Enter Option 1">-->
<!--                                <input type="button" value="추가" onclick="add_textbox(1)">-->
<!--                            </div>-->

                            <div>
                                배송지 선택 <br>
                                <select name="deliverId" class="form-select">
                                    <div th:each="delivers : ${deliverListViewDTO}">
                                        <option th:text="${delivers.fullAddress}" th:value="${delivers.deliverId}" name="deliverId"></option>
                                    </div>
                                </select>
                            </div>


                            <div>
                                쿠폰 선택 <br>
                                <select name="couponId" class="form-select">
                                    <div th:each="coupons : ${couponListViewDTO}">
                                        <option th:if="${coupons.status.toString().equals('ACTIVE')}" th:text="${coupons.couponName}" th:value="${coupons.couponId}" name="couponId"></option>
                                    </div>
                                </select>
                            </div>


<!--                            <div id="box3" class="3">-->
<!--                                <input type="hidden" value="3">-->
<!--                                <input type="text" class="form-control" th:field="*{option3}" placeholder="Enter Option 3">-->
<!--                                <input type="button" value="추가" onclick="add_textbox(3)">-->
<!--                            </div>-->
                            <button class="btn btn-outline-dark mt-auto" type="submit">상품 주문</button>
                        </form>

                        <script th:inline="javascript">
                            const add_textbox = (num) => {
                                const box = document.getElementById("box"+num);
                                const newP = document.createElement('p');
                                newP.innerHTML = "옵션명 <input type='text' class='form-control-sm' placeholder='option'> " +
                                    "<input type='button' value='삭제' class='btn btn-secondary' onclick='remove(this)'>";
                                newP.firstElementChild.name = "option" + num + "List";
                                box.appendChild(newP);
                            }
                            const remove = (obj) => {
                                num = obj.parentNode.parentNode.firstElementChild.value
                                document.getElementById('box'+num).removeChild(obj.parentNode);
                            }
                        </script>
                    </div>
                </div>
            </div>
        </section>

    </th:block>
</th:block>
</html>

