<!DOCTYPE html>
<html lang="en xmlns:th=http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<th:block th:replace="~{/admin/layout:: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <img class="card-img-top mb-5 mb-md-0" th:src="${optionDetailDTO.product.thumbnail}" alt="..." />
                    </div>
                    <div class="col-md-6">
<!--                        <div class="small mb-1" th:filed="${optionDetailDTO.product.category.parentCategory.name} + ' > ' + ${productDTO.category.name}"></div>-->
                        <form th:action="@{/orders}"  method="post" th:object="${orderRequestDTO}">
                            <div>
<!--                                선택한 제품 인덱스-->
                                <input hidden type="text" class="form-control" th:field="${optionDetailDTO.optionDetailId}">
                                <h1 class="display-5 fw-bolder" th:text="${optionDetailDTO.product.productName}"></h1>
<!--                                <p th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="jb-red"></p>-->
                            </div>
                            <div>
                                <h5 class="fw-bolder">총 결제 가격</h5>
                                <p class="form-control" th:text="${optionDetailDTO.product.price} + ${optionDetailDTO.extraCharge}"></p>
                                <p hidden class="form-control" th:text="${optionDetailDTO.product.price}" th:name="price"></p>
<!--                                <h5 class="fw-bolder">제품 추가가격</h5>-->
<!--                                <p class="form-control" th:text="${optionDetailDTO.extraCharge}"></p>-->

                            </div>

                            <h5 class="fw-bolder">상세 설명</h5>
                            <p class="form-control" th:text="${optionDetailDTO.product.detailDescription}"></p>

                            <h5 class="fw-bolder">옵션</h5>
                            <p class="form-control" th:text="${optionDetailDTO.name}"></p>

                            <div>
                                연락처<br>
                                <input type="text" class="form-control" name="phone" th:field="*{phone}"><br>
                            </div>

                            <div th:if="${deliverListViewDTO != null}">
                                배송지 선택 <br>
                                <select name="deliverId" class="form-select">
                                        <option value="0" name="deliverId">배송지 직접 입력</option>
                                    <div th:each="delivers : ${deliverListViewDTO}">
                                        <option th:text="${delivers.fullAddress}" th:value="${delivers.deliverId}" name="deliverId"></option>
                                    </div>
                                </select>
                            </div>


                            <div>
                                쿠폰 선택 <br>
                                <select name="couponId" class="form-select">
                                    <option value="0" name="couponId">선택 안함</option>
                                    <div th:if="${coupons.status.toString().equals('ACTIVE')}" th:each="coupons : ${couponListViewDTO}">
                                        <option th:text="${coupons.couponName}" th:value="${coupons.couponId}" name="couponId"></option>
                                    </div>
                                </select>
                            </div>
                            <button class="btn btn-outline-dark mt-auto" type="submit">상품 주문</button>
                        </form>

                        <script th:inline="javascript">
                            const add_textbox = (num) => {
                                const box = document.getElementById("box"+num);
                                const newP = document.createElement('p');
                                newP.innerHTML = "옵션명 <input type='text' class='form-control-sm' placeholder='option'> " +
                                    "<input type='button' value='삭제' class='btn btn-secondary' onclick='remove(this)'>";
                                newP.firstElementChild.name = "option" + num + "List";
                                box.appendChild(newP);
                            }
                            const remove = (obj) => {
                                num = obj.parentNode.parentNode.firstElementChild.value
                                document.getElementById('box'+num).removeChild(obj.parentNode);
                            }
                        </script>
                    </div>
                </div>
            </div>
        </section>

    </th:block>
</th:block>
</html>

