<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<th:block th:replace="~{user/userLayout:: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <head>
            <title>Please Log In</title>
        </head>
        <body>
        <div class="container">
            <p>회원 가입</p>
            <form th:action="@{/users}" th:method="post" th:object="${userDTO}" onsubmit="return check()">
                <div>
                    <label for="name">이름</label>
                    <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요.">
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="jb-red"></p>
                </div>
                <div>
                    <label for="email">이메일</label>
                    <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요.">
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="jb-red"></p>
                </div>
                <div>
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요.">
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="jb-red"></p>
                </div>
                <div>
                    <label for="passwordVerify">비밀번호 확인</label>
                    <input type="password" id="passwordVerify" th:field="*{passwordVerify}" class="form-control" placeholder="비밀번호를 입력하세요.">
                    <p th:if="${#fields.hasErrors('passwordVerify')}" th:errors="*{passwordVerify}" class="jb-red"></p>
                </div>
                <div>
                    <label for="phone">번호</label>
                    <input type="number" id="phone" th:field="*{phone}" class="form-control" placeholder="번호을 입력하세요.">
                    <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="jb-red"></p>
                </div>
                <div>
                    <label for="phone">성별</label>
                    <label for="gender1">
                        <input type="radio" id="gender1" name="gender" value="MALE" th:checked="${gender eq 'MALE'}">
                        <span>남자</span>
                    </label>
                    <label for="gender2">
                        <input type="radio" id="gender2" name="gender" value="FEMALE" th:checked="${gender eq 'FEMALE'}">
                        <span>여자</span>
                    </label>
                    <p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="jb-red"></p>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="w-100 btn btn-primary btn-lg" type="submit">회원 가입</button>
                    </div>
                </div>

                <script th:inline="javascript">
                const pattern = /([^가-힣a-z\x20])/i;
                function check() {
                    const target = document.getElementById('name').value
                    if (target.length === 0) {
                        alert("이름을 입력해주세요.");
                        return false
                    } else if (target.length > 20){
                        alert("이름을 20자 이하로 입력해주세요.")
                        return false
                    } else if (pattern.test(target)) {
                        alert("이름에 완성되지 않은 한글이 포함되어 있습니다.");
                        return false
                    } else if (document.getElementById("email").value.length === 0){
                        alert("이메일을 입력해주세요.")
                        return false
                    } else if (document.getElementById("email").value.length > 20){
                        alert("이메일을 20자 이하로 입력해주세요.")
                        return false
                    } else if (document.getElementById("password").value.length === 0){
                        alert("비밀번호를 입력해주세요.")
                        return false
                    } else if (document.getElementById("password").value.length < 6 ||  document.getElementById("password").value.length > 20){
                        alert("비밀번호를 6자 이상 20 이하로 입력해주세요.")
                        return false
                    } else if (document.getElementById("passwordVerify").value.length === 0){
                        alert("비밀번호 확인을 입력해주세요.")
                        return false
                    } else if (document.getElementById("passwordVerify").value.length < 6 ||  document.getElementById("password").value.length > 20){
                        alert("비밀번호 확인을 6자 이상 20 이하로 입력해주세요.")
                        return false
                    } else if (document.getElementById("password").value !==  document.getElementById("passwordVerify").value){
                        alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.")
                        return false
                    } else if (document.getElementById("phone").value.length === 0){
                        alert("전화번호를 입력해주세요.")
                        return false
                    } else if (document.getElementById("phone").value.length < 10 || document.getElementById("phone").value.length > 11){
                        alert("전화번호를 10자 이상 11 이하로 입력해주세요.")
                        return false
                    } else if (document.getElementById("phone").value < 0){
                        alert("전화번호에 '-' 기호를 를 넣을 수 없습니다.")
                        return false
                    } else {
                        const gender = document.getElementsByName("gender")
                        for(let i = 0; i < gender.length; i++){
                            if(gender[i].checked){
                                return true
                            }
                        }
                        alert("성별을 선택해주세요.")
                        return false
                    }
                }
            </script>
            </form>
        </div>
        </body>
    </th:block>
</th:block>
</html>