<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<th:block th:replace="~{user/layout:: setContent(~{this::content} )}">
  <th:block th:fragment="content">
    <head>
      <title>비밀번호 수정</title>
    </head>
    <body>
    <p>비밀번호 수정~</p>
    <div class="container">
      <form th:action="@{/api/users/password}" th:method="put" th:object="${passwordDTO}" >
        <div>
          <label for="password">기존 비밀번호</label>
          <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="기존 비밀번호를 입력하세요.">
          <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="jb-red"></p>
        </div>
        <div>
          <label for="newPassword">새로운 비밀번호</label>
          <input type="password" id="newPassword" th:field="*{newPassword}" class="form-control" placeholder="새로운 비밀번호를 입력하세요.">
          <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="jb-red"></p>
        </div>
        <div>
          <label for="newPasswordVerify">새로운 비밀번호 확인</label>
          <input type="password" id="newPasswordVerify" th:field="*{newPasswordVerify}" class="form-control" placeholder="새로운 비밀번호를 한번 더 입력하세요.">
          <p th:if="${#fields.hasErrors('newPasswordVerify')}" th:errors="*{newPasswordVerify}" class="jb-red"></p>
        </div>
        <div class="row">
          <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="submit">비밀번호 수정</button>
          </div>
        </div>
      </form>
    </div>
    </body>
  </th:block>
</th:block>
</html>