<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<th:block th:replace="~{user/layout:: setContent(~{this::content} )}">
  <th:block th:fragment="content">
    <head>
      <title>비밀번호 수정</title>
    </head>
    <body>
    <p>비밀번호 수정~</p>
    <div class="container">
      <form th:action="@{/api/users/password}" th:method="put" th:object="${passwordDTO}" onsubmit="return check()">
        <div>
          <label for="password">기존 비밀번호</label>
          <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="기존 비밀번호를 입력하세요.">
          <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="jb-red"></p>
        </div>
        <div>
          <label for="newPassword">변경할 비밀번호</label>
          <input type="password" id="newPassword" th:field="*{newPassword}" class="form-control" placeholder="새로운 비밀번호를 입력하세요.">
          <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="jb-red"></p>
        </div>
        <div>
          <label for="newPasswordVerify">변경할 비밀번호 확인</label>
          <input type="password" id="newPasswordVerify" th:field="*{newPasswordVerify}" class="form-control" placeholder="새로운 비밀번호를 한번 더 입력하세요.">
          <p th:if="${#fields.hasErrors('newPasswordVerify')}" th:errors="*{newPasswordVerify}" class="jb-red"></p>
        </div>
        <div class="row">
          <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="submit">비밀번호 수정</button>
          </div>
        </div>
      </form>
      <script th:inline="javascript">
          function check() {
              if (document.getElementById("password").value.length === 0){
                  alert("기존 비밀번호를 입력해주세요.")
                  return false
              } else if (document.getElementById("password").value.length < 6 ||  document.getElementById("password").value.length > 20){
                  alert("기존 비밀번호를 6자 이상 20 이하로 입력해주세요.")
                  return false
              } else if (document.getElementById("newPassword").value.length === 0){
                  alert("변경할 비밀번호를 입력해주세요.")
                  return false
              } else if (document.getElementById("newPassword").value.length < 6 ||  document.getElementById("newPassword").value.length > 20){
                  alert("변경할 비밀번호를 6자 이상 20 이하로 입력해주세요.")
                  return false
              } else if (document.getElementById("newPasswordVerify").value.length === 0){
                  alert("변경할 비밀번호 확인을 입력해주세요.")
                  return false
              } else if (document.getElementById("newPasswordVerify").value.length < 6 ||  document.getElementById("newPassword").value.length > 20){
                  alert("변경할 비밀번호 확인을 6자 이상 20 이하로 입력해주세요.")
                  return false
              } else if (document.getElementById("password").value ===  document.getElementById("newPassword").value){
                  alert("기존 비밀번호와 일치하는 비밀번호로 수정할 수 없습니다.")
                  return false
              } else if (document.getElementById("newPassword").value !==  document.getElementById("newPasswordVerify").value){
                  alert("변경할 비밀번호와 변경할 비밀번호 확인이 일치하지 않습니다.")
                  return false
              }
          }
      </script>
    </div>
    </body>
  </th:block>
</th:block>
</html>