<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<th:block th:replace="~{user/layout:: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <head>
            <title>Please Log In</title>
        </head>
        <body>
        <div class="container">
            <p>배송지 추가</p>

            <form th:action="@{/api/delivers}" method="post" th:object="${deliverDTO}" onsubmit="return check()">
                <div>
                    <label for="addressName">배송지 이름</label>
                    <input type="text" id="addressName" th:field="*{addressName}" class="form-control" placeholder="배송지 이름을 입력하세요.">
                    <p th:if="${#fields.hasErrors('addressName')}" th:errors="*{addressName}" class="jb-red"></p>
                </div>
                <div>
                    <label for="name">받는 사람</label>
                    <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요.">
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="jb-red"></p>
                </div>
                <div>
                    <label for="phone">받는 사람 전화번호</label>
                    <input type="number" id="phone" th:field="*{phone}" class="form-control" placeholder="전화번호를 입력하세요.">
                    <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="jb-red"></p>
                </div>
                <div>
                    <label for="address">주소</label>
                    <input type="text" id="address" th:field="*{address}" class="form-control" placeholder="이름을 입력하세요.">
                    <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="jb-red"></p>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="w-100 btn btn-primary btn-lg" type="submit">배송지 추가</button>
                    </div>
                </div>

            </form>
            <script th:inline="javascript">
                const pattern = /([^가-힣a-z\x20])/i;
                function check() {
                    var target = document.getElementById('name').value
                    if (document.getElementById("addressName").value.length === 0) {
                        alert("배송지 이름을 입력해주세요.");
                        return false
                    } else if (document.getElementById("addressName").value.length > 20){
                        alert("배송지 이름을 20자 이하로 입력해주세요.")
                        return false
                    } else if (target.length === 0) {
                        alert("받는 사람을 입력해주세요.");
                        return false
                    } else if (target.length > 20){
                        alert("받는 사람을 20자 이하로 입력해주세요.")
                        return false
                    } else if (pattern.test(target)) {
                        alert("받는 사람에 완성되지 않은 한글이 포함되어 있습니다.");
                        return false
                    } else if (document.getElementById("phone").value.length === 0){
                        alert("받는 사람 전화 번호를 입력해주세요.")
                        return false
                    } else if (document.getElementById("phone").value.length < 10 || document.getElementById("phone").value.length > 11){
                        alert("받는 사람 전화 번호를 10자 이상 11 이하로 입력해주세요.")
                        return false
                    } else if (document.getElementById("phone").value < 0){
                        alert("받는 사람 전화 번호에 '-' 기호를 넣을 수 없습니다.")
                        return false
                    } else if (document.getElementById("address").value.length === 0){
                        alert("주소를 입력해주세요.")
                        return false
                    } else if (document.getElementById("address").value.length > 40){
                        alert("주소를 40자 이하로 입력해주세요.")
                        return false
                    }
                }
            </script>
        </div>
        </body>
    </th:block>
</th:block>
</html>