<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Log In</title>
</head>
<body>
<p>배송지 추가~</p>
<div class="container">

    <form th:action="@{/delivers}" method="post" th:object="${deliverDTO}" >
        <div>
            <label for="addressName">배송지 이름</label>
            <input type="text" id="addressName" th:field="*{addressName}" class="form-control" placeholder="배송지 이름을 입력하세요.">
        </div>
        <div>
            <label for="name">이름</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요.">
        </div>
        <div>
            <label for="phone">전화번호</label>
            <input type="tel" id="phone" th:field="*{phone}" class="form-control" placeholder="전화번호를 입력하세요.">
        </div>
        <div>
            <label for="address">주소</label>
            <input type="text" id="address" th:field="*{address}" class="form-control" placeholder="이름을 입력하세요.">
        </div>
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">배송지 추가</button>
            </div>
        </div>

    </form>

</div>
</body>
</html>